<div class="hero text-center">
  <br />
  <div class="frosty text-center">
    <h1>Let's camp. Together.</h1>
    <h4>Happiness is only real, when shared.</h4>-Christopher "Supertramp" McCandless
    <br />
    
  </div>
  <%= link_to 'Learn More', '#', class: 'landing-button btn btn-lg btn-info' %>
</div>
<br />
<div class="row text-center feature">
  <div class="col-12 col-sm">
    <h3>Camp site hacks</h3>
    <%= image_tag('tent.png', class: 'icons') %>
    <p>Tons of guides on how to get the most out of your spot.</p>
        <br />
  </div>

  <div class="col-12 col-sm">
    <h3>Site Walkthroughs</h3>
    <%= image_tag('look.png', class: 'icons') %>
    <p>See for yourself what all the hubub is about. Or just stare and daydream. (though we promise it'll be better in person)</p>
        <br />
  </div>

  <div class="col-12 col-sm">
    <h3>Camping Communities</h3>
    <%= image_tag('campfire2.png', class: 'icons') %>
    <p>Find other campers, ask questions, tell your favorite campfire story, and more.</p>
    <br />
  </div>
</div>