<div class="hero text-center">
  <br />
  <div class="frosty text-center">
    <h1>Let's camp. Together.</h1>
    <h4>Happiness is only real, when shared.</h4>-Christopher "Supertramp" McCandless
    <br />
    
  </div>
  <%= link_to 'Learn More', '#', class: 'landing-button btn btn-lg btn-info' %>
</div>
<br />
<div class="row text-center feature">
  <div class="col-12 col-sm">
    <h3>Camp site hacks</h3>
    <br />
    <p>Tons of videos on how to get the most out of your spot.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Site Walkthroughs</h3>
    <br />
    <p>See for yourself what all the hubub is about. Or just stare and daydream. (though we promise it'll be better in person)</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Camping Communities</h3>
    <br />
    <p>Find other campers, ask questions, tell your favorite campfire story, and more.</p>
  </div>
</div>