<br />
	<h1 class="text-center">Become a camping pro!</h1>
	<% if @guides.present? %>
<div class="new-box mx-auto">
	<% @guides.each do |guide| %>
			<h2><%= guide.title %></h2>
			<div class="row">
				<div class="col-sm-8 col-12">
					<%= guide.description %>
				</div>
				<div class="col-sm-4 col-12 text-center">
					<%= link_to "Button", '#', class: "btn btn-primary" %>
				</div>
			</div>
			<br />
	<% end %>
	<% end %>
</div>
